{% extends "base.html.jinja" %}

{% block title %}404{% endblock %}

{% block content %}
<h1>HTTP 404</h1>
<p data-i18n="404_p">Page not found. You can head back to the <a class="{{ gtv.link_style }}" href="/">homepage</a>.</p>
{% endblock %}
